@page
@model UnitTestingCore.SystemUnderTest.Web.Pages.ParcelModel
@{
    ViewData["Title"] = "Parcel";
}

<h1>Parcel</h1>

<div>
    @Model.Name
</div>
<div>
    @Model.Township
</div>
<div>
    @Model.Owner
</div>
